/* RainbowKit */
@import "@rainbow-me/rainbowkit/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: 10 22 30;
}

html, body { height: 100%; }
body{
  background: radial-gradient(1200px 700px at 20% 10%, rgba(51,192,255,.25), rgba(0,0,0,0) 60%),
              radial-gradient(900px 600px at 80% 30%, rgba(255,255,255,.10), rgba(0,0,0,0) 55%),
              rgb(7, 16, 23);
  color: white;
}

a { color: inherit; text-decoration: none; }
